.project{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.9rem;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.info{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8%;
    background: linear-gradient(rgb(245, 245, 245), rgb(236, 238, 243));
    margin-bottom: 3rem;
    font-weight: 300;
    cursor: pointer;
    transition: all ease-in 100ms;
}
.info:hover{
    z-index: 1;
    position: relative;
    transform: scale(1.01);
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 3px 4px 10px -5px #7b7b7b;
}

.title{
    font-size:1.1rem;
    font-weight: 300;
    margin-bottom: 0rem;
}

.subTitle{
    font-size:0.9rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.description{
    font-size:0.9rem;
    font-weight: 100;
}

.list{
    list-style-type:circle;
    font-weight: 100;
}

@media screen and (max-width: 48rem) {
    .skills{
        width: 100%;
        justify-content: center;
    }
}
